body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


header {
  margin-top: 9px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 115px;
}


.logo {
  height: 35px;
  width: 100px;
  margin-left: 60px;
  margin-top: 20px;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  width: 36%;
  justify-content: left;
  margin-left: 200px;
  margin-top: -50px;
  margin-bottom: 7px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgb(211, 211, 211);

}

.search-bar:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px 2px rgb(211, 211, 211);
}

.search-icon,
.clear-icon {
  width: 15px;
  height: 15px;
  filter: opacity(0.5);
  margin: 0 20px;
  cursor: pointer;
}


.transparent {
  display: none;
  cursor: initial;
}

#input {
  border: 0px solid transparent;
  padding: 13px 0;
  flex-grow: 1;
  font-size: 16px;
  margin-right: 30px;
  margin-left: 20px;
}

#input:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: right;
  margin-top: -50px;
}


.icon-container {
  width: 25px;
  padding: 10px;
  border-radius: 20px;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.icon {
  width: 25px;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
  opacity: 0.9;
  margin-left: 150px;
}

li {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 14px;
  letter-spacing:-0.5px;
}

#all {
  color: #1a70e0
}

#blue-box {
  background-color: #1a70e0;
  height: 3px;
  width: 37px;
  margin-left: 220px;
  margin-top: -9px;
}

.icon-image {
  height: 17px;
  width: 16px;
  padding: 6px;
  margin-left: 20px;
}

main {
  margin-left: 220px;
}

#result-info {
  color: rgb(112,117,122);
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

main .http {
  display: flex;
}


main img {
  margin-top: 15px;
  margin-left: 10px;
  height: 18px;
  width: 20px;
  opacity: 0.8;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main h2 {
  font-size: 20px;
  font-weight: 100;
  display: inline;
  color: #460DAB;
}

main h3 {
  font-size: 15px;
}

main p {
  font-size: 15px;
  color: rgb(112,117,122);
  margin-top: 5px;
}

main .result {
  margin-top: 5px;
  margin-bottom: 30px;
}

footer {
  background-color: rgb(240, 240, 240);
  color: gray;
  width: 100%;
  margin-top: 375px;
}

footer #top {
  font-size: 15px;
  padding: 5px;
  border-right: 1px solid lightgray;
  margin-right: 1550px;
  padding-left: 170px;
}

footer #top p {
  margin-left: 30px;
  margin-top: 15px;
}

footer #bottom {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  padding-left: 165px;
}

footer #bottom li {
  color: rgb(71, 71, 71);
}

footer .footer-list {
  display: flex;
  gap: 5px;
  margin: 15px -15px;
}

footer li {
  list-style: none;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

