@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  color: rgb(33, 33, 33);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 15px 10px;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.icon-container {
  width: 25px;
  padding: 5px;
  border-radius: 20px;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.icon {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 350px;
}

.search-bar {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 25px;
}

.search-bar-dropdown-styles {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}
.dropdown-container {
  position: absolute;
  top: 35px;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(187, 187, 187);
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: white;
  margin-top: 10px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.focus {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}

/* .dropdown-list:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(187, 187, 187);
} */

.dropdown-list > li {
  margin: 0;
  padding: 6px 30px;
  color: rgb(82, 24, 140);
  font-size: 1rem;
  cursor: default;
}

.dropdown-list > li:hover {
  text-decoration: none;
  background-color: rgb(236, 236, 236);
}

.search-bar:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}

.search-icon,
.clear-icon {
  width: 15px;
  height: 15px;
  filter: opacity(0.5);
  margin: 0 20px;
  cursor: pointer;
}

.transparent {
  display: none;
  cursor: initial;
}

#input {
  border: 0px solid transparent;
  padding: 13px 0;
  flex-grow: 1;
  font-size: 16px;
  margin-right: 20px;
}

#input:focus {
  outline: none;
}

.buttons > * {
  border: 1px solid transparent;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  margin: 0 3px;
}

.buttons > *:hover {
  cursor: pointer;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0 1px 1px rgb(218, 218, 218);
}

.list-buttons {
  align-self: center;
  margin-bottom: 20px;
}

.list-buttons > input {
  margin: 0 6px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

footer {
  background-color: rgb(240, 240, 240);
  color: gray;
  width: 100%;
}

#top {
  font-size: 15px;
  padding: 1px;
  border-bottom: 1px solid lightgray;
}

#top p {
  margin-left: 30px;
}

#bottom {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  /* margin-left: -15px; */
  padding: 1.7px;
}

.footer-list {
  display: flex;
  gap: 5px;
  margin: 15px 20px;
}

li {
  list-style: none;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

#middle {
  margin-right: 150px;
  margin-left: 0;
}

.footer-list img {
  margin-right: -50px;
  margin-bottom: 0px;
  width: 1.3em;
  height: 1.3em;
}
